@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Light'), local('Sofia-Pro-Light'),
        url('SofiaProLight.woff2') format('woff2'),
        url('SofiaProLight.woff') format('woff'),
        url('SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }