
/* import what we need to override */
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';


/* set the overriding variables */
$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);
$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

/* override the !default vars with the values we set above */

@import '../node_modules/bootstrap/scss/bootstrap';

$slick-font-path: "../node_modules/slick-carousel/slick/fonts/" !default;
//$slick-font-path: "../../static/fonts/" !default;
$slick-font-family: "slick" !default;
//$slick-loader-path: "../../static/img/" !default;
$slick-loader-path: "../node_modules/slick-carousel/slick/" !default;
$slick-arrow-color: black !default; 
 
@import '~slick-carousel/slick/slick';
@import 'slick-theme';

$secondary: #000;
@mixin media-breakpoint-attr($attr, $mobile, $desktop) {
  @include media-breakpoint-down(xs) {
    #{$attr}: $mobile !important;
  }
  @include media-breakpoint-between(xs, sm) {
    #{$attr}: $mobile !important;
  }
  @include media-breakpoint-between(sm, md) {
    #{$attr}: (($desktop+3*$mobile)*0.25 *1.05) !important;;
    //font-size: $desktop ;
  }
  @include media-breakpoint-between(md, lg) {
    #{$attr}: (($desktop+$mobile)*0.5 *0.85) !important;
    //font-size: $desktop ;
  }
  @include media-breakpoint-between(lg, xl) {
    #{$attr}: ((3*$desktop+$mobile)*0.25 *0.85) !important;
    //font-size: $desktop ;
  }
  @include media-breakpoint-between(xl, xxl) {
    #{$attr}: ((3*$desktop+$mobile)*0.25 *0.83) !important;
    //font-size: $desktop ;
  }
  @include media-breakpoint-between(xxl, xxxl) {
    #{$attr}: $desktop !important;
  }
  @include media-breakpoint-up(xxxl) {
    #{$attr}: $desktop !important;
  }
}

@mixin media-breakpoint-font-size ($mobile, $desktop) {
  @include media-breakpoint-down(xs) {
    font-size: $mobile !important;
  }
  @include media-breakpoint-between(xs, sm) {
    font-size: $mobile !important;
  }
  @include media-breakpoint-between(sm, md) {
    font-size: (($desktop+3*$mobile)*0.25 *1.05) !important; 
    //font-size: $desktop ;
  }
  @include media-breakpoint-between(md, lg) {
    font-size: (($desktop+$mobile)*0.5 *0.85) !important;
    //font-size: $desktop ;
  }
  @include media-breakpoint-between(lg, xl) {
    font-size: ((3*$desktop+$mobile)*0.25 *0.85) !important;
    //font-size: $desktop ;
  }
  @include media-breakpoint-between(xl, xxl) {
    font-size: ((3*$desktop+$mobile)*0.25 *0.83) !important;
    //font-size: $desktop ;
  }
  @include media-breakpoint-between(xxl, xxxl) {
    font-size: ($desktop) !important;
  }
  @include media-breakpoint-up(xxxl) {
    font-size: ($desktop) !important;
  }

}

@mixin media-breakpoint-line-height ($mobile, $desktop) {
  @include media-breakpoint-down(xs) {
    line-height: $mobile;
  }
  @include media-breakpoint-between(xs, sm) {
    line-height: $mobile;
  }
  @include media-breakpoint-between(sm, md) {
    line-height: ($desktop+3*$mobile)*0.25 ;
    //line-height: $desktop;
  }
  @include media-breakpoint-between(md, lg) {
    line-height: ($desktop+$mobile)*0.5 *0.85;
    //line-height: $desktop;
  }
  @include media-breakpoint-between(lg, xl) {
    line-height: (3*$desktop+$mobile)*0.25 *0.85;
    //line-height: $desktop;
  }
  @include media-breakpoint-between(xl, xxl) {
    line-height: (3*$desktop+$mobile)*0.25 *0.85;
    //line-height: $desktop;
  }
  @include media-breakpoint-between(xxl, xxxl) {
    line-height: $desktop;
  }
  @include media-breakpoint-up(xxxl) {
    line-height: $desktop;
  }
}

@mixin media-breakpoint-width ($mobile, $desktop) {
  @include media-breakpoint-down(xs) {
    width: $mobile;
  }
  @include media-breakpoint-between(xs, sm) {
    width: $mobile;
  }
  @include media-breakpoint-between(sm, md) {
    width: ($desktop+3*$mobile)*0.25 ;
    //width: $desktop;
  }
  @include media-breakpoint-between(md, lg) {
    width: ($desktop+$mobile)*0.5 *0.85;
    //width: $desktop;
  }
  @include media-breakpoint-between(lg, xl) {
    width: (3*$desktop+$mobile)*0.25 *0.85;
    //width: $desktop;
  }
  @include media-breakpoint-between(xl, xxl) {
    width: (3*$desktop+$mobile)*0.25 *0.85;
  }
  @include media-breakpoint-between(xxl, xxxl) {
    width: $desktop;
  }
  @include media-breakpoint-up(xxxl) {
    width: $desktop;
  }
}

@mixin media-breakpoint-height ($mobile, $desktop) {
  @include media-breakpoint-down(xs) {
    height: $mobile;
  }
  @include media-breakpoint-between(xs, sm) {
    height: $mobile;
  }
  @include media-breakpoint-between(sm, md) {
    height: ($desktop+3*$mobile)*0.25 ;
    //height: $desktop;
  }
  @include media-breakpoint-between(md, lg) {
    height: ($desktop+$mobile)*0.5 *0.85;
    //height: $desktop;
  }
  @include media-breakpoint-between(lg, xl) {
    height: (3*$desktop+$mobile)*0.25 *0.85;
    //height: $desktop;
  }
  @include media-breakpoint-between(xl, xxl) {
    height: (3*$desktop+$mobile)*0.25 *0.85;
  }
  @include media-breakpoint-between(xxl, xxxl) {
    height: $desktop;
  }
  @include media-breakpoint-up(xxxl) {
    height: $desktop;
  }
}

@function vw-desktop($pxsize) {
  //@return $pxsize / (1920 * 0.01 * 1px) * 1vw;
  @return $pxsize;
}

@function vw-mobile($pxsize) {
  //@return $pxsize / (375 * 0.01 * 1px) * 1vw;
  @return $pxsize;
}

body{
  font-family: 'Sofia Pro';
  background-color: #fafafa;


  margin-top: 4.5rem ;
  @include media-breakpoint-up(md) {
    margin-top: 4.5rem ;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 50px;
  
   
  }
}
q:before,q:after{content:''}
.navbar-nav,
.mr-auto ,.ml-auto {
flex: 1;
margin: auto !important;
display: flex;
//justify-content: space-between;
}

.navbar-toggler{
  border: none;
  .navbar-toggler-icon-dark{
    display: none;
  }
}

.bg-blue{
  background-color: #0090df;
}
.bg-dark{
  background-color: black !important;
  .navbar-toggler-icon-light{
    display: none;
  }
  .navbar-toggler-icon-dark{
    display: block;
  }
  .navbar-brand{
    display: none;
  }
}

.navbar{
  //border-bottom: solid 1px #bcbcbc !important;
  background-color: #ffffff;
  height: 4.5rem ;
  @include media-breakpoint-up(md) {
    height: 4.5rem ;
  }
  @include media-breakpoint-down(sm) {
    height: 50px;
    .container-xl{
      height: 50px;
    }
   
  }


  .nav-item{
    transition: ease-in-out color .35s;
    @include media-breakpoint-font-size( vw-mobile(15px), vw-desktop(16px));

    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-family: 'SFProText-Regular';
    line-height: 1.5;
    letter-spacing: 1.6px;
    text-align: left;
    
    height: 2.5rem;
    //padding: .5rem;
    .nav-link{
      padding: .5rem 2.5rem;
      @include media-breakpoint-down(xs) {
        padding: 0rem 1rem;
      }
    }

    a{
      color: #707070;
      &:hover{
        color: black;
      }
    }
  }

}
.nav-login{
  @include media-breakpoint-down(sm) {
    
    a{
      font-weight: bold;
      padding-top: .65rem;
      padding-bottom: .65rem;
      font-size: 16px !important;
    }
  }
}

.nav-options{
  .nav-item{

    font-weight: bold;
  }
  .nav-login{
    background-color: #000000;

    margin-top: -1.25rem;
    margin-bottom: -1.25rem;
    padding: 1.25rem;
    height: 4.75rem;
    .nav-link{
      color: #ffffff;
      &:hover{
        color: #ffffff;

      }
    }
  }
}

.container-xl {
  max-width: 1640px;
  box-sizing: content-box;

}

nav > .container-xl{
  height: 4.5rem;
  border-bottom: solid 1px #bcbcbc !important;
}



.logo-fintuu {
  width: 150.6px;
  height: 38.7px;
  object-fit: contain;
}

.overflow-hidden { overflow: hidden; }

.line-height-60{
  line-height: 60px;
}

.line-height-100{
  @include media-breakpoint-line-height(vw-mobile(50px), vw-desktop(100px));
}


.hero-img {
  //width: 1640px;
  //height: 900px;
  //object-fit: contain;

  margin-top: 4.5+2.8rem;
}

.jumbotron {
  color: white;
  //background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  padding: 0;

  @include media-breakpoint-down(xl) {
    background-size: cover;

  }
  
}
.main-container{
  margin-top: 4.5rem;

  margin-left:0;
  margin-right:15px;
  h1{
    padding: 2px 0;
  }
}

/*.offset-xxl-1 {
    @media (min-width: 992px) { 
      margin-left: 8.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
    @media (min-width: 1640px) { 
      margin-left: 0;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }*/

h1 {
  font-family: 'Sofia Pro';
  font-weight: bold;
  
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  
  //padding: 50px 0;

  @include media-breakpoint-font-size( vw-mobile(50px), vw-desktop(100px));
  @include media-breakpoint-line-height( vw-mobile(50px), vw-desktop(50px));
  span{
    @include media-breakpoint-font-size( vw-mobile(50px), vw-desktop(100px));
    @include media-breakpoint-line-height( vw-mobile(50px), vw-desktop(100px));
  }

}

h5{
  font-family: 'Sofia Pro';
  font-weight: 300; 
  margin: 0;
  padding: 0;

  @include media-breakpoint-font-size( vw-mobile(22px), vw-desktop(35px));
  @include media-breakpoint-line-height(  vw-mobile(28px), vw-desktop(50px));

  span{
    @include media-breakpoint-font-size( vw-mobile(18px), vw-desktop(25px));
    @include media-breakpoint-line-height(  vw-mobile(25px), vw-desktop(50px));
  }
}

h6{
  font-family: 'Sofia Pro';
  font-weight: 300;
  margin: 0;
  padding: 0;

  @include media-breakpoint-font-size( vw-mobile(25px), vw-desktop(25px));
  @include media-breakpoint-line-height(  vw-mobile(35px), vw-desktop(35px));

}


p.subtext{
  color: gray;
  @include media-breakpoint-font-size( vw-mobile(18px), vw-desktop(25px));
  @include media-breakpoint-line-height(  vw-mobile(25px), vw-desktop(35px));
 
}
 
.container-img-left{
  background-position: left vw-desktop(-350px) top;
  margin-bottom: vw-desktop(75px);
  @include media-breakpoint-height( vw-mobile(550px), vw-desktop(821px));
  p{
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    @include media-breakpoint-font-size( vw-mobile(22px), vw-desktop(35px));
    @include media-breakpoint-line-height(  vw-mobile(28px), vw-desktop(50px));
    
    b{
        @include media-breakpoint-font-size( vw-mobile(25px), vw-desktop(50px));
        @include media-breakpoint-line-height(  vw-mobile(25px), vw-desktop(50px));

    }
  }


}
 
.container-img-right{
  background-position: right -215px top;
  //margin-right: -500px;
}

.container-img{
  //background-color: #eee;
  background-repeat: no-repeat;
  background-size: contain;
  
  @include media-breakpoint-down(sm) {
    background-image: none !important; 
  }

  clear: both;
  width: 100%;
  

  &>div{
    @include media-breakpoint-height(vw-mobile(400px), vw-desktop(930px));
    /*@include media-breakpoint-down(sm) {
      height: 10px;  
    }
    @include media-breakpoint-between(sm, md) {
      height: 10px;//vw-mobile(750px);  
    }
    @include media-breakpoint-between(md, xl) {
      height: vw-desktop(750px); 
    }
    @include media-breakpoint-between(xl,xxl) {
      height: vw-desktop(750px);  
    }
    @include media-breakpoint-between(xxl) {
      height: vw-desktop(750px);  
    }*/

    @media (min-width: 1460px) { 
      font-size: 1.3vw;
      line-height: 2vw;
    }
  }
}
.container-hero{
  //background-color: #00a0df33;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 900px;
  padding: 0;
  //height: 100vw;
}

.display-table{
  display: table;
}

.display-table-cell{
  display: table-cell;
}
.vertical-align-middle{
  vertical-align: middle; 
}


.jumbotron-right{
  background-position: calc(100% + 100px) calc(100%); 
  background-size: contain;
}

.jumbotron-left{
  background-position: -10rem calc(100%); 
  background-size: contain;
}

.saving{
  @include media-breakpoint-up(md) {
    border-left: solid 1px #ffffff;
  }
}

.jumbotron-light{
  color: black;
  background-color: white;
}
.overflow-md-hidden-x{
  @include media-breakpoint-down(md) {
    overflow-x: hidden;
  }
}

.wrapper-right{
  @include media-breakpoint-down(md) {
    margin-right: -8.333%;
    margin-left: auto !important;
  }
}
.wrapper-center{
  @include media-breakpoint-down(md) {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0;
  }
  .slogan{
    @include media-breakpoint-down(md) {
      margin-left: -0.5rem !important;
      margin-right: -0.5rem !important;

      padding-left: 12% !important;
      padding-right: 12% !important;
      
      text-align: center;
    }

    p{
      @include media-breakpoint-attr( font-size,  vw-mobile(18px), vw-desktop(20px));

    }
  }
}
.wrapper{
  min-height: 100%;
  min-height: 75vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  //box-sizing: content-box;
  //justify-content: center;
  
}



.wrapper-dark{
  .btn{
    margin-top: 25px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    margin-left: -8.333%;
    margin-top: 4%;
    //margin-bottom: 4%;
    //margin-right: 4.15%;
    
    .slogan{
        background-color: black;
        padding-left: 12.5%;
        padding-right: 6.5%;
        padding-top: 25%;
        padding-bottom: 25%;

        h1{
          padding-top: 8.333%;
          padding-bottom: 8.333%;

          @include media-breakpoint-attr( line-height,  vw-mobile(50px), vw-desktop(100px));
        }
    }
    .btn{
      margin-top: 40px;
      width: 224px;
      align-self: center;
    }
  }  
}

.wrapper-light{
  .text-white{
    @include media-breakpoint-down(md) {
      color: black !important;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    margin-left: -8.333%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4.15%;
    
    .slogan{
        background-color: white;
        padding-left: 12.5%;
        padding-right: 6.5%;
        padding-top: 25%;
        padding-bottom: 25%;

        h1{
          padding-top: 8.333%;
          padding-bottom: 8.333%;
        }
    }
    .btn{
      margin-top: 40px;
      //width: 224px;
      @include media-breakpoint-attr(width, vw-mobile(100px), vw-desktop(224px));
      align-self: center;
    }
  }  
}

.btn{
  border-radius: 0px;
}

.container-xl{

.btn, .btn:hover{
  //font-weight: bold;
  //font-size: 20px;
  //@include media-breakpoint-attr(width, vw-mobile(250px), vw-desktop(320px));


}

}
.btn-primary{
  border: solid 2px #ffffff;
  border-radius: 0;
  background: transparent;

  &:hover{
    border: solid 2px #ffffff;
    background: #ffffff;
    color: #000000 !important;
  }
}
footer{
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 35px;
}

.navbar-collapse{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  
  .nav-login{
    &:hover{
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(sm) {
    background-color: black;
    height: 1200px;
    .nav-item{
      font-family: 'Sofia Pro' !important;
      
    }
    .navbar-brand{
      display: none;
    }
    .nav-menu{
      height: 300px;
      margin-bottom: 100px;

    }

    .nav-link{
      color: white !important;
      padding: 5vw;
    }
    .nav-register{
      margin: 0px 1.25rem 35px 1.25rem;

      a{
        font-weight: bold;
        width: 100%;
        padding: 0;
        line-height: 50px;
        border: solid 2px #ffffff;
        text-align: center;
      }
    }
    .nav-login{
      
      margin-top: 0;
     
      a{
        font-weight: bold;
        width: 100%;
        padding: 0;
        line-height: 50px;
        text-align: center;
        background-color: #0090df;

        font-size: 16px !important;
      }
    }
  }
  
}

time{
  font-weight: 300;

  @include media-breakpoint-font-size( vw-mobile(16px), vw-desktop(20px));
  @include media-breakpoint-line-height(  vw-mobile(35px), vw-desktop(35px));

}
.slick-slide{
  margin: 0 15px;
  
}

.slick-list{
  padding:0 !important;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color:  #000000;
  opacity: 0.05;
  font-size: 36px;
}
.slick-dots li.slick-active button {
  //border: 1px solid #00AC9F;
  //border-radius: 100%;
  color:  #fafafa;
}
.slick-dots li.slick-active button:before {
  opacity: 0.25;
  color: #000000;
}


.post{
  
  color: #707070;
  background-color: white;
  //background-color: green;
  //border: solid 3px blue;

  
  a{
    border-bottom: solid 2px #000000;
    color: #000000;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 5px;
    
    @include media-breakpoint-font-size( vw-mobile(16px), vw-desktop(20px));
    @include media-breakpoint-line-height(  vw-mobile(25px), vw-desktop(32px));
  }
  a:hover{
    text-decoration: none;
    border-bottom: solid 2px #0090df;
    color: #0090df;
  }

 
}
.clear {
  clear:both;
  height:0;
  font-size: 1px;
  line-height: 0px;
}
.slogan{
  input[type=text], input[type=number]
  {
      background: transparent;
      border: solid 2px white;
      color: white;
      font-weight: bold;
  
      @include media-breakpoint-font-size( vw-mobile(25px), vw-desktop(25px));
      @include media-breakpoint-line-height(  vw-mobile(35px), vw-desktop(35px));
  
      @include media-breakpoint-width(  vw-mobile(302px), vw-desktop(398px));
      @include media-breakpoint-height(  vw-mobile(50px), vw-desktop(75px));
  
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance:textfield;
  }
  input {
    text-align: center;
    font-weight: bold;
  }
  
  input::-webkit-input-placeholder {
    text-transform: uppercase;
    transform:translate3d(0,-4px,0)
  }

  h1{
    @include media-breakpoint-attr( line-height,  vw-mobile(50px), vw-desktop(60px));
  }
  h4{
    @include media-breakpoint-attr( line-height,  vw-mobile(18px), vw-desktop(35px));
  }
  h5{
    @include media-breakpoint-attr( line-height,  vw-mobile(28px), vw-desktop(50px));
  }
  h6{
    @include media-breakpoint-attr( line-height,  vw-mobile(25px), vw-desktop(35px));
  }
  

  li{
    @include media-breakpoint-attr( line-height,  vw-mobile(25px), vw-desktop(50px));
  }
  .btn{
    @include media-breakpoint-attr( font-size,  vw-mobile(16px), vw-desktop(20px));

  }
}


#btn-change{
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  border-radius: 100%;

  @include media-breakpoint-attr( margin-top ,vw-mobile(-12px), vw-desktop(-24px));
  @include media-breakpoint-attr( margin-left ,vw-mobile(-27px), vw-desktop(-40px));

  @include media-breakpoint-attr( width ,vw-mobile(54px), vw-desktop(85px));

  @include media-breakpoint-attr( padding-top ,vw-mobile(12px), vw-desktop(25px));
  @include media-breakpoint-attr( padding-bottom ,vw-mobile(12px), vw-desktop(25px));


  img{

    @include media-breakpoint-attr( width ,vw-mobile(18px), vw-desktop(31px));
    @include media-breakpoint-attr( height ,vw-mobile(18px), vw-desktop(31px));
    
    
  }
}

h2{
  font-weight: bold;
  @include media-breakpoint-font-size( vw-mobile(25px), vw-desktop(50px));
  @include media-breakpoint-line-height(  vw-mobile(35px), vw-desktop(55px));
}

blockquote{
  font-weight: bold;
  border-left: solid 3px #0090df;
  padding-left: 16px;
  padding-right: 47px;
  @include media-breakpoint-font-size( vw-mobile(35px), vw-desktop(35px));
  @include media-breakpoint-line-height(  vw-mobile(45px), vw-desktop(45px));
  @include make-col-offset(1);
  @include make-col(10);
}

.blog-title{
  @include media-breakpoint-attr( padding-top ,vw-mobile(48px), vw-desktop(35px));
  @include media-breakpoint-attr( padding-bottom ,vw-mobile(48px), vw-desktop(35px));
  @include media-breakpoint-attr( padding-right ,vw-mobile(48px), vw-desktop(35px));
}
.header-img{
  @include media-breakpoint-attr( height ,vw-mobile(618px), vw-desktop(618px));
}

.blog-content{
  p{
    color: #707070;
    @include media-breakpoint-font-size( vw-mobile(20px), vw-desktop(20px));
    @include media-breakpoint-line-height(  vw-mobile(30px), vw-desktop(30px));

    @include media-breakpoint-attr(margin-bottom, vw-mobile(25px), vw-desktop(25px));
    
  }
  p:first-child{
    color: black;
    @include media-breakpoint-font-size( vw-mobile(35px), vw-desktop(35px));
    @include media-breakpoint-line-height(  vw-mobile(45px), vw-desktop(45px));

  }
  blockquote{
    @include media-breakpoint-attr(margin-top, vw-mobile(75px), vw-desktop(75px));
    @include media-breakpoint-attr(margin-bottom, vw-mobile(75px), vw-desktop(75px));
  }
  img{
    margin:50px 0;
  }
}

.blog-options{
  color: #707070;
  @include media-breakpoint-font-size( vw-mobile(20px), vw-desktop(20px));
  @include media-breakpoint-line-height(  vw-mobile(31px), vw-desktop(31px));
  padding-top: 70px;
  padding-bottom: 15px;

  margin-bottom: 50px;
  border-bottom: solid 2px #d7d7d7;
}
.blog-datetime{

}
.blog-share{
  margin-left: auto !important;
  text-align: right;
}

.blog_author{
  color: #444444;
  margin: 0px 0 50px 0;
  p{
    @include media-breakpoint-font-size( vw-mobile(20px), vw-desktop(20px));
    @include media-breakpoint-line-height(  vw-mobile(25px), vw-desktop(25px));
  }
}

.ico-48{
  @include media-breakpoint-attr( width, vw-mobile(27px), vw-desktop(48px));
  @include media-breakpoint-attr( height, vw-mobile(27px), vw-desktop(48px));

}

.border-2{
  border-width: 2px;
}

.fs-16{
  @include media-breakpoint-font-size( vw-mobile(16px), vw-desktop(16px));
}
.fs-20{
  @include media-breakpoint-font-size( vw-mobile(10px), vw-desktop(20px));
} 
.fs-25{
  @include media-breakpoint-font-size( vw-mobile(18px), vw-desktop(24px));
} 
.fs-35{
  //@include media-breakpoint-font-size( vw-mobile(20px), vw-desktop(35px));
  @include media-breakpoint-font-size( vw-mobile(20px), vw-desktop(35px));
} 
.lh-35{
  @include media-breakpoint-line-height( vw-mobile(35px), vw-desktop(35px));
}
.fs-50{
  @include media-breakpoint-font-size( vw-mobile(18px), vw-desktop(50px));
}
.fs-50{
  @include media-breakpoint-font-size( vw-mobile(18px), vw-desktop(55px));
}
.lh-100{
  @include media-breakpoint-line-height( vw-mobile(25px), vw-desktop(100px));
}
.lh-25{
  @include media-breakpoint-line-height( vw-mobile(25px), vw-desktop(25px));
}
.lh-50{
  @include media-breakpoint-line-height( vw-mobile(50px), vw-desktop(50px));
}
.container-mid{
  background-size: cover;
  @include media-breakpoint-height( vw-mobile(400px), vw-desktop(600px));

  padding: 0 !important;
  margin: 0 !important;
  @include media-breakpoint-down(xs) {
    padding-left: 0;
    padding: 0 !important;
    margin: 25px 0  !important;
    h1, h5{
      text-align: center;
    }
    .btn{
      display: inherit;
      margin: 0 auto;
    }
  }
}

.bg-grayf4{
  background-color: #f4f4f4;
}

.bg-grayf4-70{
  //background-repeat: repeat-y;
  //background-size: 50% auto;
  //background-color: #f4f4f4;

  background-image: linear-gradient(180deg, #f4f4f4 50%, transparent 50%);
}

.py-50{

  @include media-breakpoint-attr(padding-top, vw-mobile(45px), vw-desktop(50px));
  @include media-breakpoint-attr(padding-bottom, vw-mobile(45px), vw-desktop(50px));
}
.py-35{
  @include media-breakpoint-attr(padding-top, vw-mobile(30px), vw-desktop(35px));
  @include media-breakpoint-attr(padding-bottom, vw-mobile(30px), vw-desktop(35px));
}
.pt-50{
  @include media-breakpoint-attr(padding-top, vw-mobile(45px), vw-desktop(50px));
}
.pb-50{
  @include media-breakpoint-attr(padding-bottom, vw-mobile(45px), vw-desktop(50px));
}
.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-mid-left{
  @include media-breakpoint-down(xs) {
    padding-right: 0;
  }
  @include media-breakpoint-between(xs, sm) {
    padding-right: 0;
  }
  @include media-breakpoint-between(sm, md) {
    padding-right: 0 ;
  }
  @include media-breakpoint-between(md, lg) {
    //padding-right: ($desktop+$mobile)*0.5 *0.85;
    padding-right: 0;
  }
  @include media-breakpoint-between(lg, xl) {
    //padding-right: (3*$desktop+$mobile)*0.25 *0.85;
    padding-right: 22px;
  }
  @include media-breakpoint-between(xl, xxl) {
    //padding-right: (3*$desktop+$mobile)*0.25 *0.85;
    padding-right: 30px;
  }
  @include media-breakpoint-between(xxl, xxxl) {
    padding-right: 50px;
  }
  @include media-breakpoint-up(xxxl) {
    padding-right: 50px;
  }
}
.container-mid-right{
  @include media-breakpoint-down(xs) {
    padding-left: 0;
  }
  @include media-breakpoint-between(xs, sm) {
    padding-left: 0;
  }
  @include media-breakpoint-between(sm, md) {
    padding-left: 0;
  }
  @include media-breakpoint-between(md, lg) {
    //padding-left: ($desktop+$mobile)*0.5 *0.85;
    padding-left: 0;
  }
  @include media-breakpoint-between(lg, xl) {
    //padding-left: (3*$desktop+$mobile)*0.25 *0.85;
    padding-left: 22px;
  }
  @include media-breakpoint-between(xl, xxl) {
    //padding-left: (3*$desktop+$mobile)*0.25 *0.85;
    padding-left: 30px;
  }
  @include media-breakpoint-between(xxl, xxxl) {
    padding-left: 50px;
  }
  @include media-breakpoint-up(xxxl) {
    padding-left: 50px;
  }
}

.container-marginless{
  @include media-breakpoint-down(xl) {
    .container{
      //background-color: indigo;
      margin: 0;
      width: 100% !important;
      max-width: none;
    }
  }
}

.blog-hero{
  position: relative;
top: 50%;
transform: translateY(-50%);
}

.page-link{
 
   color: #707070;
   //width: 50px;
   //height: 50px;
   padding: 0px 19.42px;
   border-radius: 0px;
   font-size: 18px;
   line-height: 48px;

   color: #707070;
  border-color: #707070;
  background-color: white;
}
.page-item{
  margin: 5px;
 
}
.page-link:hover{
  color: black;
  border-color: black;
  background-color: white;

}
.page-item.active .page-link{
  background-color: black;
  border-color: white;
  font-weight: bold;
}
.bg-size-auto{
  background-size: auto;
}

.middle{
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}


.btn-alter{
  border: solid 2px black;
  @include media-breakpoint-attr(border-width, vw-mobile(1.5px), vw-desktop(2px));
  border-radius: 0;
}

ol.faq-list{
  font-weight: lighter;
  li, h6{
    @include media-breakpoint-attr(font-size, vw-mobile(15px), vw-desktop(30px));
    @include media-breakpoint-attr(line-height, vw-mobile(25px), vw-desktop(30px));

  }
  p{

    @include media-breakpoint-attr(padding-top, vw-mobile(15px), vw-desktop(25px));
    @include media-breakpoint-attr(padding-bottom, vw-mobile(15px), vw-desktop(25px));

    @include media-breakpoint-attr(font-size, vw-mobile(15px), vw-desktop(20px));
    @include media-breakpoint-attr(line-height, vw-mobile(25px), vw-desktop(30px));
    color: #707070;
  }
}

.container-accordion{
  .btn:focus{
    box-shadow: none;
  }
  .card{
    border: none;
  }
  .accordion-menu{
    .btn{
      text-align: left;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 50px;
      padding: 0;

      //&[aria-expanded="false"] {}

      &[aria-expanded="true"] {
        color: #0090df;
      }
    }
  }
  @include  media-breakpoint-down(md) {
    padding: 0;
    margin: 0;
    max-width: inherit;

    .card-header, .btn{
      text-align: left;
      font-size: 18px;
      line-height: 25px;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
      border: none;
      background: transparent;
    }
    .btn{
      &::after{
        float: right;
      }
      &[aria-expanded="false"] {
        @include caret(right);
      }

      &[aria-expanded="true"] {
        @include caret(down);
      }
    }
    
  }

 
}

input[type=text].form-control, input[type=number].form-control, 
input[type=email].form-control, input[type=password].form-control
{
  border-radius: 0px;
  background: transparent;
}

.btn-secondary{
  background-color: black;
}

.nav-item:not(.nav-register){
  .nav-link{

  }
}

.nav-register{
  border: none;
  .nav-item{
    border: none;
  }
  
  .nav-link{
    color: #d3d3d3;
    @include  media-breakpoint-between(xl,xs) {
      padding: .5rem 2rem !important;
    }
  }
  .nav-link.active{
    color: #0c0d12;
    background-color: transparent;
  }


  
}

.tab-content{
  label{
    @include media-breakpoint-attr(font-size, vw-mobile(16px), vw-desktop(20px));
    @include media-breakpoint-attr(line-height, vw-mobile(40px), vw-desktop(40px));

  }
  
  .form-control, .btn{
    @include media-breakpoint-attr(height, vw-mobile(40px), vw-desktop(50px));
  }
  .btn{
    @include media-breakpoint-attr(font-size, vw-mobile(16px), vw-desktop(18px));

  }
}

.form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color:  lighten(#0090DF, 20%);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(lighten(#0090DF, 40%), 95%);
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.input-group-text{
  background: none;
  border-radius: 0px;
  
}

.input-group{
  .form-control{
    text-align: center;
    margin-left: -39px;
  }
  .form-control:focus{
    border-color: #ced4da;
    box-shadow: none;
    
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-left-width: 1px !important;
  //border: 1px solid green;
  //-webkit-text-fill-color: green;
  //-webkit-box-shadow: 0 0 0px 1000px #000 inset;
  //transition: background-color 5000s ease-in-out 0s;
}
}

.separator{
  background: #707070; height:1px; margin-top:10px;
  span{background: #fff; padding:10px; position:relative; top:-10px; color: #707070;}
}

.modal-body{
  h4{
    @include media-breakpoint-attr(font-size, vw-mobile(50px), vw-desktop(35px));
  }
  
  .form-control{
    @include media-breakpoint-attr(height, vw-mobile(35px), vw-desktop(50px));

  }
}



/* Animations */
.ml4 {
  overflow: hidden;
}

.ml4 .letter {
  display: inline-block;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml13 {

}

.ml13 .letter {
  display: inline-block;
}